<!-- Contact -->

<link rel = "stylesheet" property = "stylesheet" href = "{{ 'assets/css/contact.css' | relative_url }}">

<div class = "contact">
	<h1>Contact</h1>
	<form action = "{{ site.formsubmit-url }}" method = "POST">
		<input type = "email" name = "email" placeholder = "Your E-Mail" required>
		<input type = "text" name = "name" placeholder = "Your Name" required>
		<textarea type = "text" name = "message" placeholder = "Your Message" required></textarea>
		<input type = "hidden" name = "_next" value = "{{ site.url }}">
		<input type = "hidden" name = "_subject" value = "New Submission!">
		<input type = "hidden" name = "_autoresponse" value = "Thanks for contacting me!">
		<button type = "submit">Send 💌</button>
	</form>
</div>