<!-- Contact -->

<link rel = "stylesheet" property = "stylesheet" href = "assets/css/contact.css">

<div class = "contact">
	<form action="https://formsubmit.co/f8710e04ba5159d60acd35a7b2ec44a3" method="POST">
		<input type="email" name="email" placeholder="Your E-Mail" required>
		<input type="text" name="name" placeholder="Your Name" required>
		<textarea type="text" name="message" placeholder="Your Message" required></textarea>
		<input type="hidden" name="_next" value="https://divin.work/main#contact">
		<input type="hidden" name="_subject" value="New Submission!">
		<input type="hidden" name="_autoresponse" value="Thanks for joining the newsletter!">
		<button type="submit">Send 💌</button>
	</form>
</div>