<!-- Newsletter -->

<link rel = "stylesheet" property = "stylesheet" href = "assets/css/newsletter.css">

<div class = "newsletter">
	<p>If you like, you can subscribe to my mailing list, I promise you will only get an email when I publish something new, no spam 😎</p>
	
	<form action = "https://formsubmit.co/f8710e04ba5159d60acd35a7b2ec44a3" method = "POST">
		<input type = "email" name = "email" placeholder = "Your E-Mail" required>
		<input type = "hidden" name = "_next" value = "https://divin.work/main">
		<input type = "hidden" name = "_subject" value = "New Newsletter!">
		<input type = "hidden" name = "_autoresponse" value ="Thanks for joining the newsletter!">
		<button type = "submit">Send 📧</button>
	</form>
</div>