<!-- Projects element -->
<!-- Will be included in each section (located at _sections/) to load the current projects -->

<link rel = "stylesheet" property = "stylesheet" href = "assets/css/projects.css">

<div id = "projects">
    {% for project in site.data.projects %}
        {% if project.category == page.title %}
            <div id = "project">
				{% if project.img == "" %}
					<a class = "no-img" href = "{{ project.link }}">
						{{ project.name }}
					</a>
				{% else %}
					<a class = "img" href = "{{ project.link }}">
						<img src = "{{ project.img }}">
					</a>
				{% endif %}
            </div>
        {% endif %}
    {% endfor %}
</div>