<!-- Social-media links -->

<link rel = "stylesheet" property = "stylesheet" href = "{{ 'assets/css/social-media.css' | relative_url }}">
<link rel = "stylesheet" property = "stylesheet" href = "{{ 'assets/fontawesome/css/all.css' | relative_url }}">

<div class = "social-media">
	<ul>
		<!-- Loop through all social media accounts -->
		{% for social in site.social-media %}
			<li>
				<a href = "{{ social.url }}" target = "_blank" rel = "noopener noreferrer">
					<i class = "{{ social.icon }}" aria-hidden = "true"></i>
				</a>
			</li>
		{% endfor %}
	</ul>
</div>