// Color scheme based on: 
// https://developer.apple.com/design/human-interface-guidelines/ios/visual-design/color/

$red: rgb(255, 69, 58);
$pink: rgb(255, 55, 95);
$teal: rgb(64, 200, 224);
$mint: rgb(102, 212, 207);
$orange: rgb(255, 159, 10);
$cyan: rgb(100, 210, 255);

$green: rgb(48, 209, 88);

$font-color-0: rgb(242, 242, 247);
$font-color-1: rgb(229, 229, 229);

$background-0: rgb(142, 142, 147); // Level 2
$background-1: rgb(58, 58, 60); // Level 1
$background-2: rgb(28, 28, 30); // Level 0