---
---

@import "color";
@import "animation";

html, body {

	// Align
	top: 0;
	margin: 0;
	padding: 0;

	// Size
	height: 100%;
	min-height: 100%;

	// Color
	color: $font-color-1;
	background-color: $background-2;

	// Text
	font-weight: 400;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
	letter-spacing: -0.022em;

	a {
		color: $font-color-1;
		text-decoration: none;

		&:hover {
			color: $green;
		}
	}
}

body {
	// Fade-in
	animation: fadein 2s;
	-o-animation: fadein 2s; // Opera < 12.1
	-ms-animation: fadein 2s; // Internet Explorer
	-moz-animation: fadein 2s; // Firefox < 16
	-webkit-animation: fadein 2s; // Safari, Chrome and Opera > 12.1
}

.default-container {
	
	// Center self
	left: 50%;
	top: 50%;
	position: absolute;
	transform: translate(-50%, -50%);

	// Flex
	display: flex;
	align-items: center;
	align-content: center;
	flex-direction: column;
	justify-content: center;

	// Size
	width: 75%;
	height: 85%;
	padding: 2em;
	min-width: 160px;
	max-width: 720px;
	min-height: 420px;
	max-height: 640px;

	// Box
	border-radius: 1rem;

	// Colors
	background: $background-2;
	background: linear-gradient(45deg, $background-2 0%, $background-1 50%);

	// Shadow
	box-shadow: rgba(0, 0, 0, 0.5) 0em 0.5em 1em;
}

.subpage-container {
	
	padding: 2em;
	margin-left: auto;
	margin-right: auto;
	
	// Size
	width: 75%;
	height: 100%;
	min-width: 160px;
	max-width: 720px;
}