---
---

@import "color";
@import "animation";

// Image
.image-container {

	// Flex-Item
	flex: 1 1 auto;

	// Flex
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	width: 50%;

	img {
		max-width: 100%;
  		max-height:100%;
		border-radius: 1em;
		vertical-align: middle;
	}
}