---
---

@import 'colors';

#projects {

	// Flex
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	align-content: normal;
	justify-content: center;

	// Size
	width: 90%;
	height: 100%;

	// Scrollable
	overflow-y: auto;
}

#project {
	// Flex Item
	flex: 1 1 auto;

	// Flex
	display: flex;
	flex-wrap: nowrap;
	align-items: stretch;
	flex-direction: column;
	align-content: stretch;
	justify-content: flex-start;

	// Size
	height: 100%;
	padding: 0.5em;
	max-width: 160px;
	max-height: 256px;

	// Color
	border-radius: 1em;
	//background-color: $background-0;

	.no-img {
		flex: 1 1 auto;
		font-weight: 500;
		background-color: $green;
		border-radius: 1em 1em 1em 1em;
	}

	img {
		flex: 1 1 auto;
		max-width: 100%;
		border-radius: 1em 1em 0 0;
	}

	a {
		flex: 1 1 10%;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 0 0 1em 1em;
		background-color: $green;

		&:hover {
			color: $font-color-0;
		}
	}
}