---
---

// Style for a project page

@import 'colors';

.content {

	// Flex Item
	flex: 1 1 80%;

	// Flex
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	align-content: center;
	flex-direction: column;
	justify-content: flex-start;

	// Size
	width: 100%;

	// Color
	background: $background-1;
	background: linear-gradient(to top, $background-2 0%, $background-1 50%, $background-2 100%);

	p {
		padding: 1em;
	}

	a {
		color: $green;
	}
}