---
---

@import "color";
@import "animation";

.spline-container {

	// Flex-Item
	flex: 1 1 auto;

	// Flex
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	
	// Size
	width: 100%;
	height: 100%;

	iframe {
		border-radius: 1em;
	}
}